.app {
    width: 100% !important;
    height: 400px;
}

.appBox {
    height: 100% !important;
    width: 100% !important;
}

.appImg {
    padding-top: 20px;
}

.appNameText {
    font-size: 20px;
    font-weight: bold;
}

.appCreateDate {
    padding-bottom: 20px;
}

.app :hover {
    background-color: rgb(222, 221, 221);
}
