.header {
    width: 100%;
    height: 60px;
    background-color: rgb(236, 236, 236);
    border-bottom: solid;
    color: black;
    position: fixed;
    text-align: center;
}

.header-menu-line {
    padding: 20px;
}

.header-menu-line .icon{
    padding: 20px;
}

.icon {
    padding-top: 20px;
}

.Icon {
    color: black;
}

.Icon :hover{
    color: rgb(8, 61, 222);
}

.xIcon {
    width: 30px;
    height: 30px;
    padding-top: 20px;
}

.humberger {
    float: right;
}

@media screen and (max-width:480px) {
    .header {
        display: none;
    }
}
