body {  
    background-color: rgb(236, 236, 236);
    color: rgb(0, 0, 0);
    margin: 0;
}

.app {
    margin: 0;
    width: 100%;
    height: 100%;
}

.appProfile {
    padding-top: 120px;
    text-align: center;
}

@media screen and (max-width:480px) {
    .appProfile {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding-top: 40px;
    }
}

.appName {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight: bold;
}

.appskil {
    padding-top: 30px;
}

@media screen and (max-width:480px) {
    .appskil {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
}

.appImageText {
    padding-top: 30px;
}

@media screen and (max-width:480px) {
    .appImageText {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
}

.skilIcons {
    width: 60px;
    height: 60px;
}

@media screen and (max-width:480px) {
    .skilIcons {
        width: 40px;
        height: 40px;
    }
}

.appImage {
    padding-top: 20px;
}

@media screen and (max-width:480px) {
    .appImage {
        padding-top: 5px;
    }
}

.appImageItems {
    width: 600px;
    border-style: none;
    padding-bottom: 30px;
}

@media screen and (max-width:480px) {
    .appImageItems {
        width: 80%;
        padding-bottom: 20px;
    }
}